.bg-white {
  background-color: #ffff !important ;
}

.bg-aqua {
  background-color: aqua !important ;
}

.bg-coral {
  background-color: coral !important ;
}

.bg-blue {
  background-color: #00aabb !important ;
}
